
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border: 2px solid green;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
    border: 1px solid red;
}

.menu li a {
    text-decoration: none;
    color: #333;  /*inherit*/
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid mediumslateblue;
}

.menu li a:hover {
    color: #007bff;
}

.cartIcon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.cartIcon img {
    height: 100%;
    width: 100%;
    fill: purple;
}


.cartIcon span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fe134b;
    height: 16px;
    width: 16px;
    border-radius: 15px;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
    font-size: 14px;
    color: white;
}