

.layout-main {
  flex: 1;                  /* 👈 empuja el footer hacia abajo */
  max-width: 1200px; /* Limita el ancho para que la tienda no se estire infinito en pantallas grandes */
  margin: 100px auto 0 auto; /* deja espacio arriba para el header fijo */
  padding: 0 2rem;
}





