

.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-nav-footer);
    padding: 10px 20px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #fff;  /*inherit*/
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu li a:hover {
    color: #e11d48;
}
